<html>
    <head>
    </head>
    <body>
        
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <% for(var i = 0; i < ngo.length; i++) { %>
            <tr>
            <form method = "post" >
                <td><%=ngo[i].name%></td>
                <br>
                <td><input name = "regid" type="hidden" value = "<%=ngo[i].regid%>">
                    <br>
                    <button type = "submit" >Donate</button>
                    
                   
                </td>

                </form>
            </tr>
            <% } %>
        </table>

    </body>
</html>