<html>
<head>
 
</head>
<body>
<form id="msform" method="post" enctype="multipart/form-data">
<input type="text" name="name" placeholder="Name of NGO" /></br>
	<input type="number" name="regno" placeholder="Registration Number" /></br>
	<input type="text" name="description" placeholder="Description" /></br>
    <input type="password" name="password" placeholder="Password" /></br>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" /></br>
 <input type="text" name="authperson" placeholder="Name of authorised person" /></br>
    <input type="number" name="phno" placeholder="Phone Number" /></br>
    <input type="email" name="email" placeholder="Email" /></br>
 <label for="reg">Registration Cetificate</label>
    <input type="file" name="file" multiple></br>
    <label for="12a">12A Certificate</label>
    <input type="file" name="file" multiple></br>
    <label for="SOG">SOG Certificate</label>
    <input type="file" name="file" multiple></br>
    <label for="PCRA">PCRA</label>
    <input type="file" name="file" multiple></br>
 <input type="text" name="acname" placeholder="Account Name" /></br>
    <input type="number" name="acno" placeholder="Account Number" /><br>
    <input type="text" name="ifsccode" placeholder="IFSC CODE" /></br>
    
    <textarea name="bankadd" placeholder="Branch Address"></textarea>
 <input type="submit" name="submit" class="submit action-button" value="Submit"/>
</form>
</body>
<script>

</script>
</html>