<body>
        <% if(locals.message){ %>
                <%=message %>
                <% } %>
         <a href ="/main/registermember">Register(Member)</a>
         <a href ="/main/registervolunteer">Register(Volunteer)</a>
        <a href ="/main/register">Register(NGO)</a>
        <a href = "/main/login">Login</a>
        <a href = "/main/ngo">Ngo</a>
        <a href ="/main/gov">Register(Gov)</a>
        
        
</body>
</body>